<div class="fightContainer">
    <div class="names">
        <div id="player1">
            {{player1$ | async}}
        </div>
        <div id="player2">
            {{player2$ | async}}
        </div>
    </div>

    <webcam (imageCapture)="imageCaptured($event)" [trigger]="trigger$"></webcam>

    <button mat-raised-button color="accent" (click)="triggerImage()">SHOW YOUR EMOTION</button>
    <!-- <button mat-button (click)="goHome()">Home!</button>
    <button mat-button (click)="goScoreboard()">Scoreboard!</button> -->
</div>